.show-item {
  display: block;
  height: 24rem;
  position: relative;
  border: 1px solid #414141;
  border-radius: 0.5rem;
  &-image {
    height: 20rem;
    img {
      width: 100%;
      border-radius: 0.5rem 0.5rem 0 0;
      height: 20rem;
      object-fit: cover;
    }
  }
  &-rating {
    position: absolute;
    display: flex;
    align-items: center;
    margin: 0.25rem;
    background-color: black;
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
    gap: 0.25rem;
    font-size: 0.75rem;

    .pi {
      font-size: 0.8rem;
      color: orange;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    font-weight: bold;
    height: 4rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
