<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img alt="" />
    </div>
    <div class="slide-pane">
      <h2 class="title">Slider Title</h2>
      <div class="meta">
        <div class="rating">
          <i class="pi pi-star-fill"></i>
          <span>8</span>
          <span>/10</span>
        </div>
        <div class="votes">
          <i class="pi pi-users"></i>
          <span>4433</span>
        </div>
        <div class="release-date">
          <i class="pi pi-calendar"></i>
          <span>June 20, 2024</span>
        </div>
      </div>

      <div class="description mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
        perspiciatis cum unde laudantium quam illum iusto quasi nostrum natus
        magnam corporis sint animi ad, deleniti, delectus sequi hic ratione
        tempora.
      </div>
    </div>
  </div>
</div>
