@if (details$ | async; as details) {
  <slider [slides]="[details]" [isHeader]="true"></slider>

  <p-tabView>
    <p-tabPanel header="Overview">
      <div class="grid">
        <div class="col-3">
          <img
            class="poster"
            [src]="imagesSizes.md + details.poster_path"
            [alt]="details.title"
          />
        </div>
        <div class="col-9 overview-details">
          <div>
            <h2>Overview</h2>
            <p>{{ details.overview }}</p>
          </div>

          <div class="stat">
            <div class="label">Released Date:</div>
            <div class="value">
              {{ details.release_date | date: 'MM/dd/yyyy' }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Language:</div>
            <div class="value">
              {{ details.original_language }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Revenue:</div>
            <div class="value">{{ details.revenue | currency }}</div>
          </div>
          <div class="stat">
            <div class="label">Duration:</div>
            <div class="value">{{ details.runtime }} min</div>
          </div>
          <div class="stat">
            <div class="label">Status:</div>
            <div class="value">{{ details.status }}</div>
          </div>
          <div class="stat">
            <div class="label">Genres:</div>
            <div class="value">
              @for (genre of details.genres; track genre) {
                <span>{{ genre.name }}</span>
              }
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Videos">
      @if (videos$ | async; as videos) {
        <div class="grid">
          @for (video of videos; track video.key) {
            <div class="col-4">
              <video-frame [key]="video.key"></video-frame>
            </div>
          }
        </div>
      }
    </p-tabPanel>
    <p-tabPanel header="Photos">
      @if (images$ | async; as images) {
        <div class="grid">
          @for (image of images; track image.file_path) {
            <div class="col-2">
              <p-image
                src="{{ imagesSizes.lg }}{{ image.file_path }}"
                alt="{{ details.title }}"
                width="100%"
                [preview]="true"
              />
            </div>
          }
        </div>
      }
    </p-tabPanel>
  </p-tabView>

  @if (casts$ | async; as casts) {
    <h2 class="cast-title">Casts</h2>
    <p-carousel
      [value]="casts"
      [numVisible]="6"
      [numScroll]="3"
      [circular]="true"
    >
      <ng-template let-cast pTemplate="item">
        <div class="cast">
          @if (cast.profile_path) {
            <img
              class="cast-image"
              [src]="imagesSizes.sm + cast.profile_path"
              alt=""
            />
          } @else {
            <img
              class="cast-image"
              src="../../../assets/images/actor.jpg"
              alt=""
            />
          }
          <h3 class="cast-name">{{ cast.name }}</h3>
          <div class="cast-character">({{ cast.character }})</div>
        </div>
      </ng-template>
    </p-carousel>
  }

  @if (similars$ | async; as similars) {
    <div class="similar">
      <banner title="Similar Movies" [shows]="similars"></banner>
    </div>
  }
}
