@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'modern-normalize/modern-normalize.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';
@import 'primeng/resources/themes/md-dark-indigo/theme.css';
@import 'primeng/resources/primeng.css';

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: rgb(200, 200, 200);
  background-color: #141414;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-weight: 400;
}

.container {
  margin: 0.5rem;
  padding: 0.5rem;
}
