@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'modern-normalize/modern-normalize.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 400;
}
